@media screen and (min-width: 769px) {
    :root {
        --primary-color: #515151;
        --secondary-color: #91a398;
        --backgroundcolor: #e9e0d1;
        --navigatorcolor: #33605a;
        --footertextcolor: #F2A950;
        --footercolor: #343A40;
        --textcolor: #070001;
        --fontfamily: "Poppins", Arial, sans-serif;
        --fontfamilyalternative: "Open Sans", Arial, sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: var(--fontfamily);
        background-color: var(--backgroundcolor);
        color: var(--textcolor);
    }

    /* Header Styles */
    .container,
    .grid-footer {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    header {
        background-color: var(--navigatorcolor);
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        color: white;
    }

    .logo-container {
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    .site-title {
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
    }

    .Hamburger-icon {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    .nav-menu a {
        text-decoration: none;
        color: var(--dark-color);
        font-weight: 500;
        padding: 8px 12px;
        border-radius: var(--border-radius);
        transition: var(--transition);
    }

    .nav-menu a:hover {
        background-color: var(--footercolor);
        color: var(--footertextcolor);
    }

    /* Main Content Styles */
    .widgets {
        display: flex;
        gap: 15px;
    }

    .events-section,
    .currentwea-section,
    .forecast-section {
        background-color: #cfcfcf;
        padding: 15px;
        border-radius: 8px;
    }

    .weather-icon {
        width: 80px;
        height: 80px;
    }

    .weather-content {
        display: flex;

    }

    .weather-content div {
        margin-left: 15px;
    }

    .weather-details p {
        margin: 5px 0;
    }

    .forecast-content p{
        padding: 10px 10px 10px 0;
    }
    

    /* Footer Styles */
    footer {
        background-color: var(--footercolor);
        color: white;
    }

    .grid-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 0.9rem;
        padding: 1.5rem;
        margin-top: 2rem;
    }

    .contact-info h3,
    .credits h3 {
        margin-bottom: 0.5rem;
        color: var(--footertextcolor);
    }

    .contact-info p,
    .credits p {
        padding: 8px 0;
    }

    .social-icon {
        filter: invert(1);
        width: 80px;
    }

    .social-icon:hover {
        filter: invert(0.7) sepia(1) saturate(5) hue-rotate(170deg);
    }

    .social-media-icons {
        display: flex;
        gap: 35px;
    }
}