:root {
    --primary-color: ;
    --secondary-color: #272936;
    --button-color: #ff6f00;
    --section-color: #151720;
    --black-color: #000000;
    --white-color: #FFFFFF;
}

/* ----------- General Styles -----------*/

body {
    font-family: "Arimo", sans-serif;
    font-size: large;
    line-height: 1.6;
    color: var(--white-color);
    background: rgb(244, 236, 236);
    padding: 0;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background: #0b0d0f;
    border-bottom: 3px solid transparent;
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

main .page-wrapper {
    padding-top: 80px;
}

/* ----------- Header and nav styles -----------*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.logo {
    width: 100px;
    height: auto;
    justify-content: center;
}

.hamburger-icon {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-menu a {
    color: #888;
    text-decoration: none;
    gap: 100px;
}

.nav-menu a:hover {
    color: #fff;
}

/* ----------- Index page styles ----------- */

/* typewriter section styles */
#typeWriter {
    color: white;
    font-size: 40px;
    font-weight: bold;
    white-space: nowrap;
    border-right: 3px solid white;
    padding-right: 5px;
    overflow: hidden;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    pointer-events: none;
}

/* Hero section styles */
.hero {
    position: relative;
}

.hero-image {
    width: 100%;
    height: 100%;
}

/* About me section using grid areas*/
.about-me-section {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "image title"
        "image description";
    background: var(--black-color);
    color: var(--white-color);
    overflow: hidden;
}

.about-me-photo h1 {
    grid-area: title;
}

.about-me-photo p {
    grid-area: description;
}

.about-me-photo {
    width: 300px;
    border-radius: 10px;
    grid-area: image;
}

.about-me-text {
    padding: 20px;
}

/* events index section*/
.events-slider-container {
    position: relative;
    width: 100%;
    margin-top: 10px;
    overflow: hidden;

}

/* Slider */
.events-slider {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

/* Images */
.events-slider img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    flex-shrink: 0;
}

/* Buttons */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.45);
    border: none;
    color: white;
    font-size: 2.2rem;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 10;
}

.slider-btn:hover {
    background: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* FAQ section */

h3 {
    color: var(--black-color);
    text-align: center;
}

.faq-container {
    width: 100%;
    margin: auto;
}

.faq-item {
    background: rgb(0, 0, 0);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
}

.faq-question {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    margin-top: 10px;
    display: none;
    color: #b0b0b0;
}

.faq-item.active .faq-answer {
    display: block;
}

.arrow {
    transition: transform 0.3s;
}

.faq-item.active .arrow {
    transform: rotate(90deg);
}

/* ----------- Discover page styles ----------- */

.discover-h1 {
    color: var(--black-color);
}

/* Events Cards */
.events-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 0;
}

/* Card styles */
.event-card {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
        "image info";
    background: #111;
    border-radius: 12px;
    overflow: hidden;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform .25s ease, box-shadow .25s ease;
}

.event-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.45);
}

/* Image card */
.event-image {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Text */
.event-info {
    grid-area: info;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.event-info h4 {
    margin: 0;
    font-size: 1.4rem;
}

.event-date {
    color: #bbb;
    font-size: .9rem;
}

/* Video section styles */

.video {
    width: 100%;
}

/* ----------- Contact page styles ----------- */

/* form styles */
.form-section {
    margin: 20px 0;
    padding: 2rem;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.form-section h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--black-color);
    font-weight: 700;
}

#joinForm {
    padding: 1rem;
}

#joinForm label {
    font-weight: 600;
    color: var(--black-color);
    display: block;
    padding: 1rem 0 0.5rem 0;
}

#joinForm input,
#joinForm select,
#joinForm textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 6px;
    border: 1px solid #cccccc;
    font-size: 1rem;
    transition: border 0.3s, background-color 0.3s;
}

/* Textarea spans full width */
#description {
    grid-column: span 2;
    min-height: 120px;
}

.submit-btn {
    margin-top: 1rem;
    background: var(--black-color);
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    background: #414863;
}

/* ----------- Thanks page styles ----------- */

/* Thank you section */
.thanks {
    margin: 4rem auto;
    max-width: 850px;
    background: #ffffff;
    padding: 1rem;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
    animation: fadeIn 0.5s ease-out;
}

.thanks h2 {
    font-size: 2.4rem;
    color: var(--black-color);
}

.thanks p {
    color: var(--black-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.data-box {
    margin: 2rem;
    background: #fafafa;
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.6;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
}

.data-box p {
    color: var(--black-color);
    margin: 0.6rem 0;
    justify-content: space-between;
}

.data-box strong {
    color: var(--black-color);
    font-weight: 700;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* footer styles */
footer {
    background: #0b0d0f;
    color: var(--white-color);
}

.footer-content {
    display: grid;
    grid-template-areas:
        "text menu icon";
    padding: 1rem;
    font-size: 0.9rem;
    gap: 1rem;
}

.social-icons a,
.social-icons a i {
    text-decoration: none !important;
}

.footer-content .copyright {
    grid-area: text;
}

.author {
    color: #888;
}

.nav-footer a {
    text-decoration: none;
    color: #888;
}

.footer-content nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.footer-content .nav-footer a:hover {
    color: #fff;
}

.social-icons a {
    color: #888;
    font-size: 28px;
    margin: 6px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #fff;
}