:root {
    --primary-color: ;
    --secondary-color: #272936;
    --font-family: 'Arial, sans-serif';
    --button-color: #ff6f00;
    --section-color: #202020;
    --black-color: #000000;
    --white-color: #FFFFFF;
}

body {
    font-family: var(--font-family);
    color: var(--black-color);
    background: #ededed;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    background: -webkit-linear-gradient(90deg, #0b0d0f, #1a1d21, #292e36);
    background: linear-gradient(90deg, #0b0d0f, #1a1d21, #292e36);
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, #7f7c95, #36385e) 1 ;
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    width: 100px;
    height: auto;
    justify-content: center;
}

.hamburger-icon {
    display: none;
}
nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-menu a {
    color: white;
    text-decoration: none;
    gap: 100px;
}

footer {
    padding: 20px 0;
    background: #1a1d21;
    color: var(--white-color);
}