:root {
    --primary-color: ;
    --secondary-color: #ff9800;
    --font-family: 'Arial, sans-serif';
    --button-color: #FF00B8;
    --background-color: #0A0A0A;
    --text-color: #000000;
    --contrast-text-color: #FFFFFF;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--contrast-text-color);
    margin: 0;
    padding: 0;
}